/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Abel|Amaranth|Anton|Arimo|Baloo+Bhai|Baloo+Bhaina|Baloo+Thambi|Cantarell|Convergence|Cuprum|Days+One|Droid+Sans|Fjalla+One|Hammersmith+One|Jaldi|Lato|Montserrat|Open+Sans|Oswald|Overpass|Oxygen|PT+Sans|Quicksand|Roboto|Roboto+Condensed|Source+Sans+Pro|Ubuntu');


/* properties of the page body */
body{
background-image: linear-gradient(180deg, #9880FC 0%, #7FCCFC 100%);
font-family: 'Convergence', sans-serif;
background-attachment: fixed;
background-repeat: no-repeat;
padding: 0;
margin: 0;
}

/* properties of the subscribe card */
.subscribe {
background-image: linear-gradient(220deg, rgba(255, 255, 255, 0.95) 0%, rgb(194, 233, 251) 110%);
box-shadow: 0 0 26px 1px #a1c3fe;
padding:10px 50px 50px 50px;
margin: 3.5em auto 0 auto;
border-radius: 20px;
text-align: center;
width: 280px;
min-height: 325px;
height:auto;
color: #445963;

}

/* Iamge:: Email Logo  */
.subscribe img{
width: 100px;
height: 100px;
margin: 88px;
}

/* Title Card subscribe  */
.subscribe h2 {
text-transform: uppercase;
margin-bottom: 0;
margin-top: -92px;
font-size:27px;
}
/* Description of the "card subscribe" */
.subscribe p {
font-family: 'Source Sans Pro', sans-serif;
letter-spacing: 0;
margin-top: 3px;
font-size: 16px;
}

/* email input */
input[type=email]  {
font-family: 'PT Sans', sans-serif;
background-color: transparent;
text-align: center;
width: 100%;
color: #445963;
padding: 10px;
border: none;
outline: none;
margin-bottom: 10px;
margin-top: 10px;
font-size: 15px;
font-style: italic;
border-bottom: 2px solid #A1C3FE;
}

/* Button transmitter subscribe */
button {
box-shadow: 0 0 26px 1px #a1c3fe;
padding: 12px 45px 12px 45px;
transition: 0.3s linear;
background: #40C4FF;
border-radius: 20px;
margin-top: 10px;
border: none;
outline: none;
font-size: 1em;
color: #FFFFFF;
font-weight: bold;
}

button:hover{
   cursor: pointer;
transform: translatey(-3px );
box-shadow: 0 0 6px #a1c3fe;
}
button:active{
transform: translatey(3px );
box-shadow: 0 0 0px #a1c3fe;
}
